@charset "utf-8";

/* 공통으로 사용하는 CSS */
.clear::after{content: ''; display: block; clear: both;}
.hidden{font-size: 0; color: transparent;}

/* 폰트 */
.font_bold{font-weight: 400 !important;}
.font_color_wh{color: #fff !important;}